<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>VUEJS - CHAT</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="userAuthorized">
				<header>
				  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
					<span class="navbar-brand">VUEJS-CHAT</span>
					<div class="navbar-collapse" id="navbarCollapse">
					  <ul class="navbar-nav ml-auto">
						<li class="nav-item active">
						  <span class="nav-link"><img v-bind:src="userAvatar" alt="my avatar" width="50" /></span>
						</li>
						<li class="nav-item">
						  <span class="nav-link">{{ userName }}</span>
						</li>
						<li class="nav-item">
						  <span class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0" v-on:click="onSignout">Exit</button></span>
						</li>
					  </ul>
					</div>
				  </nav>
				</header>
	<main role="main">
      <div class="row">
		<div class="col-6" v-for="user in users" :key="user.id">
			<h2>Чат ({{ user.name}})</h2>
			<div class="chat-window">
				<div class="row">
					<div class="col-sm-7">
						<div class="title">Диалог c: <b><img v-bind:src="users[user.selectedContact].avatar" alt="my avatar" width="20" height="20" /> {{users[user.selectedContact].name}}</b></div>
						<ul class="messages">
							<li v-for="message in messages" :key="message.id" v-if="(message.author == user.id && message.to == user.selectedContact) || (message.author == user.selectedContact && message.to == user.id)">
								<div v-bind:class="{ 'text-right': message.author == user.id }">{{ message.message }}</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-5">
						<div class="title">Контакты</div>
						<ul class="contacts">
							<li v-for="contact in user.contacts" :key="contact.id">
								<a href="#" v-bind:class="{ selected: user.selectedContact == contact.id }" v-on:click.stop.prevent="user.selectedContact=contact.id">{{ contact.name }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="chat-message">
			<input :ref='"sendMessage" + user.id' type="text" value="" v-model="user.curMessage" size="40" /> <button v-on:click="send(user)">send</button>
			</div>
		</div>
	  </div>
    </main>				
			</div>
			<div class="sign-body" v-if="!userAuthorized">
				<form class="form-signin" v-on:submit.prevent="onSign">
					<h1 class="h3 mb-3 font-weight-normal">VUEJS-CHAT</h1>
					<label for="inputName" class="sr-only">Name</label>
					<input type="text" id="inputName" class="form-control" placeholder="Your Name" v-model="userName" required autofocus>
					<label for="inputAvatar" class="sr-only">Avatar (Link)</label>
					<input type="url" id="inputAvatar" class="form-control" placeholder="Avatar (Link)" v-model="userAvatar" required>
					<div class="mb-3"></div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
			</div>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>